/*
  Standard CSS Styling
*/

* {
  box-sizing: border-box;
}

/*
  top
*/

#main-title {
  text-align: center;
  margin: 0 auto;
  margin-left: 50px;
  padding: 10px;
}

.fa-bars {
  position: fixed;
  font-size: 30px;
  padding: 10px;
  margin: 0 auto;
  cursor: pointer;
}

.fa-bars:hover {
  background-color: black;
  color: white;
}

/*
  Left side-bar
*/

/*
  map
*/

#map {
  height: 600px;
  width: 100%;
}
