/*
  Standard CSS Styling
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

/*
  top
*/

.top {
  background-color: #ededed;
}

#main-title {
  text-align: center;
  margin: 0;
  margin-left: 50px;
  padding: 10px;
}

.fa-bars {
  position: fixed;
  font-size: 30px;
  padding: 10px;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 5px;
}

.fa-bars:hover {
  background-color: black;
  color: white;
}

/*
  Left side-bar
  on click set width to 30% and visibility to visible.
*/

.left-sidebar {
  float: left;
  width: 0;
  height: 90vh;
  margin: 0;
  overflow: hidden;
  background-color: #ededed;
}

.coffeeshop-list {
  list-style: none;
  text-align: center;
}

.aCoffeeShop {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 5px 5px 10px grey;
  min-width: 20px;
}

.aCoffeeShop:hover {
  background: black;
  color: white;
}

#scotts-title {
  text-align: center;
  margin: 10px;
}

.key-input {
  width: 65%;
}

.click-input {
  width: 30%;
  cursor: pointer;
}

.click-input:hover {
  background-color: black;
  color: white;
}

/*
  map
  on click set width to 70%
*/

#map {
  float: right;
  height: 90vh;
  width: 100%;
  margin: 0;

  position: fixed;
}

@media screen and (min-width: 300px) {
  .aCoffeeShop {
    font-size: 10px;
  }
}

@media screen and (min-width: 520px) {
  .aCoffeeShop {
    font-size: 20px;
  }
}
