* {
  box-sizing: border-box;
}

section {
  //border-style: dashed;
}

h1 {
  font-family: 'Rubik', sans-serif;
}

#main-title {
  text-align: center;
}

.app {
  width: 100%;
  height: 600px;
}

#map {
  float: right;
  width: 100%;
  height: 100%;
  transition: all 0.8s ease-in-out;
  border-radius: 5px;
}

#coffee-list {
  list-style: none;
  margin: 20px;
}

.coffee-shops {
  margin: 15px;
}

/*
  Side bar
*/

.left-sidebar {
  float: left;
  height: 100%;
  width: 0;
  overflow: hidden;
}

form {
  margin: 0 auto;
  margin-top: 10px;
}

input[type="text"] {
  width: 70%;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}

.submit {
  width: 25%;
}

/*
  Hamburger Icon
*/

.menuToggle{
  position: fixed;
  padding: 20px;
  font-size: 50px;
  cursor: pointer;
  background: white;
  border-radius: 5px;
  opacity: 0.9;
  top: 10px;
}

.menuToggle:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}


/*
  markers
  Google Maps
*/

.marker-title {
  border-style: solid;
  text-align: center;
  background-color: black;
  color: white;
}
